.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 40px;
  margin: 30px 0px;
  border-bottom: 1px solid #ececec;
}

.navbar__title {
  margin-right: 36px;
  margin-bottom: 20px;
}

.navbar__left {
  margin-left: 60px;
  margin-bottom: 20px;
}

.navbar__left i {
  font-size: 20px;
}

.navbar__left span {
  margin-left: 5px;
  font-weight: 600;
}

.navbar__right {
  margin-right: 60px;
  margin-bottom: 18px;
}

.navbar__right span {
  top: 25px;
  right: 72px;
  position: absolute;
  font-size: 5px;
  padding: 3px 6px;
  background-color: red;
  border-radius: 100%;
}

.navbar__right i {
  font-size: 20px;
}

.navbar__title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.product__section {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.product {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ececec;
  height: 30%;
  width: 40%;
  margin: 20px 0px;
  background-color: #ececec;
}

.product__img {
  border-radius: 5px;
  margin: 20px;
  width: 180px;
  height: 180px;
  max-width: 180px;
  max-height: 180px;
}

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0px 10px;
}

.product__info span:first-child {
  font-size: 22px;
  font-weight: bold;
}

.product__info span {
  margin: 12px 0px;
}

.product__button {
  width: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product__button__box {
  background-color: white;
  border-radius: 5px;
}

.product__button__box:hover {
  background-color: #bdbaba;
}

.product__button span {
  font-weight: 700;
  font-size: 18px;
  padding: 10px 18px;
  border: 1px solid #ffc734;
  background-color: #ffc734;
  margin-left: 5px;
  border-radius: 5px;
}

.heart__icon {
  color: red;
  padding: 10px;
  font-size: 20px;
}

.product__form {
  display: flex;
  justify-content: center;
  height: 85%;
  width: 85%;
  background-color: gray;
  position: absolute;
  top: 80px;
  left: 90px;
  border-radius: 5px;
}

.product__form__box {
  top: 30%;
  height: 350px;
  width: 300px;
  border-radius: 4px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafafa;
}

.hidden {
  display: none;
}

.form__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.form__wrapper {
  margin-left: 50px;
}

.form__wrapper input {
  margin-right: 10px;
}

.form__wrapper__button {
  display: flex;
  justify-content: space-around;
  margin: 12px;
}

.form__wrapper__button span {
  border: 1px solid black;
  padding: 10px 12px;
  background-color: #ffc734;
  color: black;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  background-color: #ececec;
  font-size: 18px;
  bottom: 0px;
}

footer span {
  font-weight: 500;
  padding: 8px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
